{% extends 'IntegratedContentBundle::base.html.twig' %}
{% block crumbs %}
    <div class="breadcrumb-holder">
        <div class="container">
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path('integrated_content_content_type_index') }}">{% trans %}Content types{% endtrans %}</a>
                </li>
                <li class="active">{% trans %}Show{% endtrans %}</li>
            </ol>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12 push-sm-down">
            <h1 class="main-title font-regular">{% trans %}Show{% endtrans %}</h1>
            <section class="section-white section-padding section-shadow section-radius">
                <dl class="dl-horizontal">
                    <dt>
                        {% trans %}Name{% endtrans %}
                    </dt>
                    <dd>
                        {{ contentType.name }}
                    </dd>
                    <dt>
                        {% trans %}Type{% endtrans %}
                    </dt>
                    <dd>
                        {{ contentType.id }}
                    </dd>
                    <dt>
                        {% trans %}Fields{% endtrans %}
                    </dt>
                    <dd>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th width="40%">{% trans %}Field{% endtrans %}</th>
                                    <th>{% trans %}Required{% endtrans %}</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for field in contentType.fields %}
                                <tr>
                                    <td>
                                        {{ field.label|trans }}
                                    </td>
                                    <td>
                                        {% if field.options.required is empty %}
                                            {% trans %}No{% endtrans %}
                                        {% else %}
                                            {% trans %}Yes{% endtrans %}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td>
                                        {% trans %}No fields added{% endtrans %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </dd>
                    <dt>
                        {% trans %}Relations{% endtrans %}
                    </dt>
                    <dd>
                        {{ render(controller("IntegratedContentBundle:Relation:index", {'contentType': contentType.id, '_format': 'inline.html'})) }}
                    </dd>
                </dl>
                <a class="pull-left btn btn-primary" style="margin-right:10px;" href="{{ path('integrated_content_content_type_edit', {'id': contentType.id}) }}">
                    {% trans %}Edit{% endtrans %}
                </a>
                {{ form(form, { 'style': 'inline' }) }}
            </section>
        </div>
    </div>
{% endblock %}